#banner {position:relative; width:370px; height:240px; overflow:hidden; font-size:12px; text-align:left} 
#banner_list img {border:0px;width:370px; height:240px;} 
#banner_bg {position:absolute; bottom:0;height:20px;filter: Alpha(Opacity=60);opacity:0.3;z-index:1000;cursor:pointer; width:370px; } 
#banner_info{position:absolute; bottom:4px; left:5px;height:22px;color:#fff;z-index:1001;cursor:pointer} 
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;} 
#banner ul {position:absolute;list-style-type:none; z-index:1002; 
margin:0; padding:0; bottom:3px; right:5px; height:20px} 
#banner ul li { padding:0 2px; line-height:15px;float:left;display:block;color:#FFF;border:#e5eaff 1px solid;cursor:pointer; margin:0; font-size:12px;} 
#banner_list a{position:absolute;} 