body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, label, table, tbody, tr, td, img, div, dl, dt, dd, pre, input, select, textarea, fieldset, iframe, hr{ margin:0; padding:0;}
body{color:#626262; line-height:normal; margin: 0 auto; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/bg.png) repeat-x;}
ul{ list-style-type:none;}
a{color:#626262; text-decoration:none;}
a:hover{text-decoration:underline;}
em {font-style:normal;}
table {border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
button{background:none; border:none; cursor:pointer;}
ul{list-style-type:none;}
ol{list-style-type:none;}
.clear{ clear:both;}
.clear10{ clear:both; height:15px;}
.clear11{ clear:both; height:10px;}
.clear50{ clear:both; height:40px; text-align:center; padding-top:10px;}
*{margin:0;padding:0;}
.show {display:block; }
.hidden {display:none; }
img{ border:0px;}
.fixfloat{zoom:1;}
.fixfloat:after{clear:both; content:''; display:block; height:0;}

.header{ clear:both; height:120px;width:980px; margin:0 auto;}
.header .hd_top{ clear:both; height:120px;}
.header .hd_top .logo{ float:left; width:135px; float:left;}
.header .hd_top .search{ float:right; height:28px; padding-top:30px; padding-left:25px;  width:408px; overflow:hidden}
.sc_line{ clear:both; background-color:#BD812F; height:28px;}
.sc_line .ss_box{ float:left; width:64px; height:28px; background:url(../images/slctbg.jpg) no-repeat; line-height:20px; color:#302218; position:relative;}
.sc_line .ss_box_1{ float:left; width:287px; height:24px; padding:2px 0;}
.sc_line .ss_box_2{ float:right; width:79px; height:28px;}
#sbArea_h {width:59px;font-size:14px;color:#d78100;border:#919191 1px solid;position:absolute;z-index:20;background:#fff; left:2px; top:28px; padding:3px;}
#sbArea_h a {color:#666; text-decoration:none; font-size:12px; line-height:20px;}
#sbArea_h a:hover {color:#333;}
.option {height:20px; width:56px; _width:53px;color:#808080;font-size:12px;line-height:20px;z-index:10;cursor:pointer; padding-left:3px;}

#toplink{ margin:0 auto; width:980px; height:38px; margin-bottom:20px;}

.txt_01{ float:left; border:0; height:24px; line-height:24px; padding-left:2px; width:285px; color:#989898;}
.txt_02{border:1px solid #DCCEBD; height:18px; line-height:18px; padding-left:2px; width:138px; font-size:12px; color:#302218;}
.btn_01{ border:none; height:28px; width:79px; cursor:pointer; background:url(../images/scbtn.jpg) no-repeat;}
.log_btn11{height:24px; width:100px; background:url(../images/loginbg.jpg) no-repeat; border:0; text-align:center; line-height:24px; color:#FFFFFF; font-size:14px; cursor:pointer;}
.nav{ clear:both; height:25px; padding:5px 0;}
.nav ul{}
.nav ul li{ float:left; height:25px; padding:0 15px; line-height:25px; font-size:14px;}
.nav ul li a{ color:#FFFFFF;}
.nav ul li.down{ background:url(../images/litop.jpg) no-repeat 74px 11px;}
.container{ margin:0 auto; width:980px;}
.con_lf{ float:left; width:760px; overflow:hidden;}
.con_rt{ float:right; width:230px; overflow:hidden;}
.login{ clear:both; height:190px; margin-bottom:10px; background:url(../images/yhzx.jpg) no-repeat; padding:2px 10px;}
.login h1{ clear:both; height:25px; line-height:25px; font-weight:700; margin-bottom:10px; font-size:14px; color:#514034;}
.login .log_cont{ clear:both; height:112px;}
.login p{ clear:both; height:26px; line-height:26px; text-align:center;}
.login p a{ line-height:26px; color:#BD812F; height:26px;}

.tab_01{ width:100%;}
.tab_01 td{ height:20px; line-height:20px; padding:3px 2px; color:#514034;vertical-align:middle}
.tab_01 td.log{ height:24px; padding:3px 2px;}
.rt_c{ clear:both; margin-bottom:10px;}
.rt_c h1{ clear:both; height:31px; padding:0 10px; line-height:31px; background:url(../images/rttit.jpg) no-repeat; font-size:14px; font-weight:bold; color:#514034;}
.rt_c h5{ clear:both; height:30px; padding:0 10px; line-height:30px; background:url(../images/al_rttit.jpg) no-repeat; font-size:14px; font-weight:bold; color:#F2EBE4;}
.rt_c h5 a{ float:right; padding-right:1px; color:#fff; font-weight:normal; font-size:12px;}
.rt_c .rt_cont{ background:url(../images/hybg.jpg) no-repeat; padding:5px;}
.rt_c .rt_cont .rtpic{ clear:both; margin-bottom:3px;}

.qy_c{ clear:both; padding:4px; border:1px solid #C9AD8A; overflow:hidden; zoom:1;}
.qy_c .qy_mod{ float:left; width:100px; padding:0 5px; text-align:center;}
.qy_c .qy_mod img{ border:1px solid #E0D9D4; padding:2px; width:84px; height:74px;}
.qy_c .qy_mod p{ clear:both; padding:4px 1px;}
.qy_c .qy_mod p a{ line-height:18px; color:#302218;}

.clk_check{vertical-align:middle; border:medium none;}
.u_clk{white-space: nowrap; vertical-align:middle;text-decoration: none;}

.mflf{ clear:both; margin-bottom:3px; background:url(../images/rt_bg.jpg) no-repeat; height:88px;}
.mflf .lf_ms{ clear:both; padding:39px 0 0 125px; height:25px; background:url(../images/bmbg.jpg) no-repeat 120px 41px; font-weight:bold; color:#FFFFFF; line-height:25px; margin-bottom:3px;}
.mflf .lf_ms a{color:#FFFFFF; text-decoration:none;}
.mflf p{ clear:both; text-align:center; line-height:20px;}
.mflf p em{ color:#BCBAB7; padding:0 10px;font-style:inherit; line-height:20px;}
.mflf p a{ line-height:20px; color:#655346;}

.mfsj{ clear:both; margin-bottom:3px; background:url(../images/rt_bg.jpg) no-repeat 0 -91px; height:88px;}
.mfsj .lf_ms{ clear:both; padding:39px 0 0 125px; height:25px; background:url(../images/bmbg.jpg) no-repeat 120px 41px; font-weight:bold; color:#FFFFFF; line-height:25px; margin-bottom:3px;}
.mfsj .lf_ms a{color:#FFFFFF; text-decoration:none;}
.mfsj p{ clear:both; text-align:center; line-height:20px;}
.mfsj p em{ color:#BCBAB7; padding:0 10px;font-style:inherit; line-height:20px;}
.mfsj p a{ line-height:20px; color:#655346;}

.mfys{ clear:both; margin-bottom:3px; background:url(../images/rt_bg.jpg) no-repeat 0 -185px; height:88px;}
.mfys .lf_ms{ clear:both; padding:39px 0 0 125px; height:25px; background:url(../images/bmbg.jpg) no-repeat 120px 41px; font-weight:bold; color:#FFFFFF; line-height:25px; margin-bottom:3px;}
.mfys .lf_ms a{color:#FFFFFF; text-decoration:none;}
.mfys p{ clear:both; text-align:center; line-height:20px;}
.mfys p em{ color:#BCBAB7; padding:0 10px;font-style:inherit; line-height:20px;}
.mfys p a{ line-height:20px; color:#655346;}

.web_bm{ clear:both; height:340px; background:url(../images/user_reg.jpg) no-repeat; padding:0 5px;}
.web_bm .wb_tit{ clear:both; height:11px; padding:13px 5px 5px 4px;}
.web_bm .wb_tit a{ float:right; display:block; height:11px; width:11px;}
.web_bm .wb_tt{ clear:both; height:27px;}
.web_bm .wb_tt span{ width:100px; line-height:27px; padding-left:8px;}
.web_bm .wb_tt span em{ color:#FF5A00;}
.web_bm .wb_cont{ clear:both; height:210px; padding:0 11px;}
.web_bm .wb_bmt{ clear:both; padding-top:15px; text-align:center;}

.rt_hot{ clear:both; border:1px solid #DCCEBD; height:172px; padding:14px 9px 4px 9px;}
.rt_hline{ clear:both; border:1px solid #E6E4E1; height:68px; margin-bottom:10px;}
.rt_hline .hpic{ float:left; width:130px; padding-left:10px;}
.rt_hline .hpic p{ clear:both; line-height:22px; color:#514034; font-weight:bold;}
.rt_hline .hpic p em{color:#7B1A06;}
.rt_hline .hpic p code{color:#999999; text-decoration:line-through;}
.rt_hline .htxt{ float:right; width:60px; padding-top:2px;}

.hdp{ float:left; width:600px; height:290px;}

.new_c{ float:right; width:362px; height:288px; border:1px solid #d9d9d9;}
.new_c h1{ clear:both;  height:26px; padding-top:5px; border-bottom:1px solid #d9d9d9; background:url(../images/tip1.png) no-repeat 19px 10px; padding-bottom:5px; padding-left:30px; font-family:"微软雅黑";}
.new_c h1 a{ font-size:14px; font-weight:normal; color:#000000; line-height:26px;}
.new_tit{ clear:both; background:url(../images/n_tip1.jpg) no-repeat 1px 12px; height:25px; line-height:25px; color:#BD812F;}
.new_tit a{ padding:0 10px; line-height:25px; color:#BD812F;}
.new_cont{ clear:both;  height:100px; padding:7px 0; }
.new_cont p{ clear:both; height:25px; background:url(../images/n_tip2.jpg) no-repeat 19px 12px; padding-left:28px;}
.new_cont p a{line-height:26px; padding:0 2px;}
.new_cont p em{line-height:26px; float:right; padding-right:15px;}
.new_cont p a.bt{ color:#959595;}

.adertline{ clear:both; height:90px;}
.adertline .adert1{ float:left; height:90px; width:600px;}
.adertline .adert2{ float:right; height:90px; width:364px;}

.sqtj{ clear:both; height:25px; padding-right:11px; background:url(../images/tjsq.jpg) no-repeat 0 1px; margin-bottom:10px;}
.sqtj a{ float:right;}
.hotq{ clear:both; height:25px; padding-right:11px; background:url(../images/tjsq.jpg) no-repeat 0 -35px; margin-bottom:10px;}
.hotq a{ float:right;}

.hotqlist{ clear:both; height:25px; padding-right:11px; background:url(../images/tjsq.jpg) no-repeat 0 -70px; margin-bottom:10px;}
.hotqlist a{ float:right;}

.adertit{ clear:both; min-height:55px;}
.sq_model{ background:url(../images/picbg.jpg) no-repeat; width:170px; /*margin-right:10px;*/ height:252px; padding:5px 15px 5px 5px; float:left;}
.sq_model img{ width:170px; height:195px;}
.sq_model p{ clear:both; padding-top:4px; height:18px; line-height:18px; color:#891B04;}
.sq_model p em{color:#BD812F; padding:0 2px; font-weight:bold;}
.sq_model p a{ line-height:20px; color:#514034;}

.sq_mod{ background:url(../images/xzpicbg.jpg) no-repeat; width:170px; /*margin-right:10px;*/ height:252px; padding:5px 15px 5px 5px; float:left; cursor:pointer;}
.sq_mod img{ width:170px; height:195px;}
.sq_mod p{ clear:both; padding-top:4px; height:18px; line-height:18px; color:#fff;}
.sq_mod p em{color:#FFB117; padding:0 2px; font-weight:bold;}
.sq_mod p a{ line-height:20px; color:#fff;}

.adpic{ float:left; height:262px; width:262px;}
.ksclass{ float:left; width:262px; height:210px;}
.ksclass .kstit{ clear:both;  background:url(../images/tit.png) no-repeat; height:31px; padding-left:22px; line-height:31px; color:#2a8c41; font-size:14px; font-weight:bold;}
.ksclass .kstot{ clear:both; border:1px solid #dedede; height:177px;}
.ksclass .kstot p{ clear:both; clear:both; line-height:35px;}
.ksclass .kstot p a{ display:block; float:left; height:35px; padding-left:19px; width:64PX; line-height:35px;background:url(../images/tip2.png) no-repeat 10px 16px;}
.in_pic{ clear:both;}

.paner{ clear:both; width:980px; background:url(../images/linebg.jpg) no-repeat 0 10px; margin:0 auto; }
.paner h1{ clear:both; height:25px; line-height:25px; font-size:16px; font-weight:700; color:#302218; padding-left:15px; background:url(../images/hzbg.jpg) 0 5px no-repeat; border-bottom:1px dotted #434343; margin-bottom:9px;font-family: 'Microsoft YaHei'; }
.paner .pa_cont{ clear:both; background-color:#F2F2F2; padding:16px 0 16px 16px; overflow:hidden; zoom:1; margin-bottom:10px;}
.pa_mod{ float:left; width:110px; height:56px; padding:0 4px 4px 0; margin-right:7px; background:url(../images/qylogo.jpg) no-repeat;}
.pa_mod img{width:110px; height:50px;}
.paner .pa_m{ clear:both;}
.paner .pa_m a{ display:block; height:22px; line-height:22px; width:159px; float:left;}

.fr_tit{ clear:both; height:30px; background:url(../images/fr_tit.jpg) no-repeat; padding-left:10px; font-size:14px; font-weight:bold; line-height:30px;}
.fr_tit a{ float:right; padding-right:4px; font-weight:normal; font-size:12px; color:#999;}
.fr_c{ clear:both; padding:11px; border-bottom:1px solid #E5E5E5; border-right:1px solid #E5E5E5; border-left:1px solid #E5E5E5;}
.fr_c a{ padding:0 6px; line-height:22px; display:inline;}

.footer{ clear:both; width:100%; background:url(../images/footer.png) repeat-x; height:332px; padding-top:37px;}
.foot{ width:980px; margin:0 auto;}
.foot .ftmodel{ float:left; width:170px; padding-left:24px;}
.foot .ftmodel p{ clear:both; line-height:26px; color:#fff; padding-top:5px;}
.foot .ftmodel p a{ line-height:26px; color:#fff;}
.foot .ftmodel p em{ line-height:26px; color:#dcdddf; font-weight:bold;}

.about_f{ clear:both; height:33px; color:#FFFFFF;text-align: center;}
.about_f a{ line-height:33px; color:#FFFFFF; padding:0 10px;}
.copy{ clear:both; height:25px; padding:35px 0 15px 0; color:#fff; line-height:25px; text-align:center;}

/*****************/
.sub_sq{ clear:both; border:1px solid #DCCEBD; height:141px; padding:2px 9px 2px 9px;}
.sub_sq p{ clear:both; height:22px; border-bottom:1px dotted #BB9767; background:url(../images/n_tip1.jpg) no-repeat 1px 10px; padding-left:10px;}
.sub_sq p a{ clear:both; line-height:22px;}

.sub_c{ clear:both; /*height:784px;*/background:url(../images/al_lfbg.jpg) repeat-x; width:744px; padding:3px;}
.sub_c h2{ clear:both; height:44px; background:url(../images/sub_tit.jpg) no-repeat;font-family: 'Microsoft YaHei'; font-size:24px; line-height:40px; font-weight:bold; color:#fefefe; padding-left:15px; border-bottom:1px solid #fff;}
.sub_c .sub_m{ clear:both; /*height:742px;*/ background-color:#F2EBE4; padding:0 15px;}
.sub_c .sub_m h3{ clear:both; height:33px; line-height:33px; font-size:14px; font-weight:normal; color:#443022;}

.sub_msg{ clear:both; height:373px; background:#FFFFFF url(../images/sub_cbot.jpg) bottom no-repeat; padding:19px 26px; margin-bottom:5px;}
.sub_msg .sub_m_pic{ float:left; width:290px; height:202px; padding:4px; background-color:#BD812F;}
.sub_msg .sub_m_pic img{width:288px; height:200px; border:1px solid #fff;}

.sub_msg .sub_m_txt{ float:right; width:350px; padding-top:15px; height:195px;}
.sub_msg .sub_m_txt h4{ clear:both; height:25px; padding-bottom:8px;  border-bottom:1px dashed #D1C6BA; margin-bottom:12px;}
.sub_msg .sub_m_txt h4 a{ color:#302218; font-size:16px; font-weight:700; line-height:25px;}
.sub_msg .sub_m_txt p{ line-height:25px; clear:both;}
.sub_msg .sub_m_txt p em{ line-height:25px; color:#302218;}
.sub_msg .sub_m_txt p a{ line-height:25px; color:#A40000;}

.sub_sm{ clear:both; height:135px; padding:19px 0 3px 0; overflow:hidden; zoom:1;}
.sub_sm .a_cl{ float:left; width:15px; background:url(../images/sub_lf.jpg) no-repeat -1px 42px; height:135px;}
.sub_sm .a_cr{ float:right; width:13px; background:url(../images/sub_lf.jpg) no-repeat -36px 42px; height:135px;}
.sub_model{ float:left; width:144px; height:138px; padding:0 7px; }
.sub_model .s_m_pic{ height:118px; width:144px;}
.sub_model .s_m_pic a{height:100px; width:138px; display:block; padding:3px; padding-bottom:11px;}
.sub_model .s_m_pic a.aaa{background: url(../images/sub_cbg.jpg) no-repeat scroll 0 0 transparent;}
.sub_model .s_m_pic a.mid2_1uli2{background: url(../images/sub_cbg11.jpg) no-repeat scroll 0 0 transparent;}

.sub_model .s_m_pic a:hover{background: url(../images/sub_cbg.jpg) no-repeat scroll 0 0 transparent;}

.sub_model .s_m_pic a img{ height:98px; width:138px;}


.sub_model p{ height:24px; clear:both; color:#302218; text-align:center;}
.sub_model p a{ line-height:24px;color:#302218;}

.sub_mode{ float:left; width:144px; height:135px; padding:0 7px; background:url(../images/sub_qbg.jpg) no-repeat 7px 0;}
.sub_mode p{ height:24px; clear:both; color:#302218; text-align:center;}
.sub_mode p a{ line-height:24px;color:#302218;}
.sub_anli{ clear:both; height:26px;}
.sub_al_m{ clear:both; background-color:#FFFFFF; /*height:218px;*/background:#FFFFFF url(../images/sub_cbot.jpg) bottom no-repeat; padding:25px 14px 20px 14px; overflow:hidden; zoom:1;}
.sub_more{ clear:both; height:25px;background:#FFFFFF url(../images/sub_more.jpg) no-repeat 650px 2px; text-align:right; padding-right:42px; margin-bottom:5px;}
.sub_more a{ color:#834E00; line-height:25px;}
.sub_a_mod{ width:140px; height:180px; padding: 0 15px; margin-bottom:10px; background:url(../images/subpic_bg.jpg) no-repeat 9px 0; float:left;}
.sub_a_mod .sub_a_pic{ width:138px; height:103px; padding-top:6px; margin-bottom:7px;}
.sub_a_mod .sub_a_pic img{ width:138px; height:103px;}
.sub_a_mod p{ clear:both; height:20px; color:#FFFFFF;}
.sub_a_mod p a{line-height:20px; color:#FFFFFF;}
.sub_zx_tit{ clear:both; height:51px; background:url(../images/subpp.jpg) 0 -66px no-repeat;}
.sub_pp_tit{ clear:both; height:51px; background:url(../images/subpp.jpg) 0 0 no-repeat;}

.sub_yh_m{ clear:both; padding:40px 0 0 21px; background-color:#F2EBE4; margin-bottom:10px; overflow:hidden; zoom:1;}
.sb_yh_pic{ width:218px; height:78px; background:url(../images/sub_p_bg.jpg) no-repeat 0 0; float:left; padding-right:21px; padding-bottom:38px; padding-left:2px; padding-top:3px;}
.sb_yh_pic img{ width:218px; height:78px;}

.reg_c{ clear:both; width:906px; padding:10px 42px;}
.reg_cc{ clear:both; background:url(../images/reg_ctbg.jpg) no-repeat; padding:10px 32px; overflow:hidden; zoom:1;}
.reg_clf{ float:left; width:544px; height:550px;  background:url(../images/reg_linebg.jpg) no-repeat right top;}
.reg_crt{ float:left; width:280px; height:330px; padding-top:120px; text-align:center; line-height:25px; font-weight:700;}

.sjs_mod{ float:left; width:320px; padding:20px; height:310px;}
.sjs_mod .sjs_m_lf{ float:left; width:120px; height:112px;}
.sjs_mod .sjs_m_rt{ float:left; width:185px; margin-left:10px;}
.sjs_mod .sjs_m_rt h3{ clear:both; height:22px; line-height:22px; color:#6D6D6D; font-size:14px; }
.sjs_mod .sjs_m_rt h3 em{ color:#35271D;}
.sjs_mod .sjs_m_rt p{ clear:both; height:22px; line-height:22px; color:#948271;}
.sjs_mod .sjs_m_lf img{ padding:1px; border:1px solid #C3BAB1;}
.sjs_mod .sjs_m_det{ clear:both; height:142px; background-color:#EEEAE6; padding:5px; line-height:20px;color: #8D837C;}
.sjs_mod .sjs_m_det em{ font-weight:700; font-size:14px; color:#B23806;}
.sjs_mod .sjs_m_more{ clear:both; padding:5px; text-align:right; height:20px;}
.sjsclear{ clear:both; height:30px; background:url(../images/sjs_line.jpg) no-repeat 30px 0;}

/**分页**/
#pagavation {margin-left:14px; font-size:12px; font-family:Arial, Helvetica, sans-serif; float:right; margin-bottom:14px; color: #838383;}
#pagavation a {background: #d6ccc1; text-align:center; color: #ffffff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-left:4px; padding:4px 7px; line-height:12px;}
#pagavation .current a {background: #631b03;}
#pagavation a:hover {background: #631b03; text-decoration:none;}

.web_bm1{ clear:both; height:300px; background:url(../images/user_reg1.jpg) no-repeat; padding:0 5px;}
.web_bm1 .wb_tit{ clear:both; height:11px; padding:13px 5px 5px 4px;}
.web_bm1 .wb_tit a{ float:right; display:block; height:11px; width:11px;}
.web_bm1 .wb_tt{ clear:both; height:27px;}
.web_bm1 .wb_tt span{ width:100px; line-height:27px; padding-left:8px;}
.web_bm1 .wb_tt span em{ color:#FF5A00;}
.web_bm1 .wb_cont{ clear:both; height:210px; padding:0 11px;}
.web_bm1 .wb_bmt{ clear:both; padding-top:15px; text-align:center;}


/*** 导航样式 ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			35px; /* match top ul list item height */
	z-index:		199999;
	background:#841907;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;

}
.sf-menu a {
	padding:0 10px;	text-decoration:none; line-height:33px

}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#13a;
}
.sf-menu li {

}
.sf-menu li li {
	background:		#841907;
}
.sf-menu li li li {

}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			0.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(../images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(../images/shadow.png) no-repeat bottom right;
	padding: 0;

}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

#toplink a{ text-decoration:none; color:#fff;  font-size:14px; }
#toplink a:hover{ text-decoration:none;}
#toplink ul{  text-align:left; }
#toplink li{display:inline; padding:0 30px; height:38px; line-height:38px;}
#toplink li a{ line-height:38px; font-size:14px; font-family:"微软雅黑"; font-weight:normal;}

.searchBar{}
.searchBar span{ float:right; margin-top:6px;}
.searchBar span a{ color:#666; margin-right:8px;}
.searchBar span a:hover{ color:#ef9b11;}
.searchBar .select {FLOAT: left; margin-top:1px; display:inline; margin-right:8px;}
.searchBar .text {FLOAT: left; }
.searchBar .text input{width:214px; padding-top:3px; height:21px; border:2px solid #bd812f;}
DIV.selectbox-wrapper { z-index:10000;
	BORDER-RIGHT: #bd812f 1px solid; BORDER-TOP: #bd812f 0px solid; MARGIN-TOP: -3px; BORDER-LEFT: #bd812f 1px solid; WIDTH: 63px; BORDER-BOTTOM: #bd812f 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
DIV.selectbox-wrapper UL LI.selected {BACKGROUND-COLOR: #e0ecf7;}
DIV.selectbox-wrapper UL LI.current {
	COLOR: #fff; BACKGROUND-COLOR: #36c
}
DIV.selectbox-wrapper UL LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 57px; CURSOR: pointer; LINE-HEIGHT: 23px; PADDING-TOP: 3px
}
.selectbox { border:none;  DISPLAY: block; padding-left:4px;width: 73px; CURSOR: pointer; padding-top:5px; HEIGHT: 23px; background:url(../images/bg01.gif) no-repeat;}
.btn{ float:left; display:inline; margin-left:8px; margin-top:2px;}


#wb_conts {margin-left: 0; overflow:hidden;height:210px;}
#wb_conts .wb_list .bm_content {overflow:auto; padding-bottom:5px; padding-top:5px; border-bottom:#cccccc dotted 1px;overflow:hidden; float:right;width:200px; }
.seach_show{ margin-left:20px; margin-top:10px;font-size:14px;}
.seach_show span{ color:#ed4901;}

/*提示信息*/
.html_clew_box{border:3px solid #5e1c02;color:#891801;position:absolute;z-index:999999;background:#fff url(../images/html_clew_box.gif) repeat-x 0 0;padding:0 25px 0 68px;;margin-top:1px;float:left}
.clew_error{background-position:0 bottom;color:#f00}
.html_clew_box_close{clear:both;display:none}
.html_clew_box_con{font-size:14px;padding:20px 0;white-space:nowrap;font-weight:bold}
.ico_waiting{background:url(../images/icon_waiting.gif) no-repeat 0 0;height:32px;line-height:32px;display:inline-block;padding-left:40px}
/*页面弹出层*/
.html_pop_box{-moz-border-radius:5px 5px 5px 5px;background:none repeat scroll 0 0 #333333;height:100%;margin:-8px;opacity:0.5;padding:8px;position:absolute;width:100%;z-index:-1}

#tm2008style .select_box{width:102px;height:29px;}
#tm2008style div.tag_select,#tm2008style div.tag_select_hover,#tm2008style div.tag_select_open,#tm2008style ul.tag_options,#tm2008style ul.tag_options li,#tm2008style ul.tag_options li.open_hover,#tm2008style ul.tag_options li.open_selected{background:url("../images/tm2008-select.gif") no-repeat;}
#tm2008style div.tag_select{display:block;color:#000;width:82px;height:29px;background-position:0 0;padding:0 10px;line-height:29px;}
#tm2008style div.tag_select_hover{display:block;color:#000;width:82px;height:29px;background-position:0 -29px;padding:0 10px;line-height:29px;}
#tm2008style div.tag_select_open{display:block;color:#000;width:82px;height:29px;background-position:0 -58px;padding:0 10px;line-height:29px;}
#tm2008style ul.tag_options{position:absolute;margin:0;list-style:none;background-position:left bottom;width:100px;padding:0 0 1px;margin:0;width:80px;}
#tm2008style ul.tag_options li{background-position:-102px 0;background-repeat:repeat-y;display:block;width:61px;padding:0 10px;height:28px;text-decoration:none;line-height:28px;color:#000;}
#tm2008style ul.tag_options li.open_hover{background-position:0 -88px;color:#ffffff}
#tm2008style ul.tag_options li.open_selected{background-position:0 -88px;color:#ffffff;}